<table class="table">
	<tr>
		<th>Order</th>
		<th>State</th>
		<th>Date</th>
		<th>Customer</th>
		<th>Total</th>
	</tr>
	<tr>
		<td><a href="#">#101</a></td>
		<td>Complete</td>
		<td>May 07, 2011 19:00</td>
		<td><a href="#">gregbell</a></td>
		<td>$1,029.00</td>
	</tr>
		<tr>
		<td><a href="#">#101</a></td>
		<td>InComplete</td>
		<td>May 07, 2011 19:00</td>
		<td><a href="#">gregbell</a></td>
		<td>$1,029.00</td>
	</tr>
	</table>